<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MyWEB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        background-color: #8d6e63;
      }
      .nav-link {
        color: #7b3535;
        font-family: copperplate;
      }
      .nav-link:hover {
        color: #e5b579;
      }
      .active {
        color: orange !important;
      }
      .btn.btn-success {
        color: bisque;
        background-color: #7b3535;
        border-color: #7b3535;
      }
      .btn.btn-success:hover {
        color: #7b3535 !important;
        background-color: #8d6e63 !important;
        border-color: #7b3535;
      }
      .btn.btn-success:active {
        color: #7b3535;
        background-color: bisque;
        border-color: #7b3535;
      }
      #btn-edit:hover {
        color: #e5b579 !important;
      }
      #btn-delete:hover {
        color: red !important;
      }

      @media only screen and (max-width: 1000px) {
        #wrapper {
          flex-direction: column !important;
          padding: 20px;
        }
        #content-right {
          width: 75% !important;
          margin: auto !important;
          margin-bottom: 30px !important;
        }
        #content-left {
          width: 75% !important;
          margin: auto !important;
          margin-bottom: 30px !important;
        }
      }
      @media only screen and (max-width: 700px){
        #div-3{
          flex-direction: column !important;
        }
         #photo_content{
          width: 100% !important;
          border-bottom-left-radius: 0 !important;
          border-top-right-radius: 10px !important;
        }
      }
    </style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: bisque !important"
    >
      <div class="container-fluid">
        <a href="./index"
          ><img
            src="../assets/img/logo-brand.png"
            alt="logo-brand"
            class="logo-brand"
            style="margin-right: 10px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="background-color: #7b3535"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="./index"
                >Home</a
              >
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
              <a class="nav-link" href="./addProjectBootstrap"
                >Add project
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./testi">Testimonials</a>
            </li>
            {{/if}}
          </ul>
          {{#unless loggedIn}}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="register"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login"
                >Login
              </a>
            </li>
          </ul>
          {{/unless}}
          {{#if loggedIn}}
            <form method="post" action="logOut" class="d-flex mx-1" role="search">
            <button class="btn btn-warning" type="submit">
              <a
                class="nav-link"
                style=style="color: #7b3535; font-family: copperplate;"
                >log out</a
              >
            </button>
          </form>
            {{/if}}
          <form class="d-flex" role="search">
            <button class="btn btn-success" type="submit">
              <a
                class="nav-link"
                href="./backpageBootstrap"
                style="color: bisque"
                >Contact Me</a
              >
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->
    <!-- CARD -->
    {{#if loggedIn}}
    <div class="header w-100 mt-5 mb-5">
      <h1
        class="title text-center fw-bold"
        style="color: bisque; font-family: helvatica;"
      >Hi {{user.name}}, how was your day?
      </h1>
    </div>
    {{/if}}
    <div
      class="d-flex justify-content-between flex-row w-75 bg-primary mx-auto my-5"
      style="
        background-color: #7b3535 !important;
        border-radius: 25px;
        box-shadow: 2px 2px 20px black;
      "
      id="wrapper"
    >
      <div
        class="w-75 d-flex flex-column justify-content-evenly"
        style="
          margin-top: 50px;
          margin-bottom: 50px;
          margin-right: 50px;
          margin-left: 50px;
        "
        id="content-right"
      >
        <h1 class="text-center h2 fw-bold font-monospace" style="color: #e5b579;">
          WELCOME TO MY FIRST WEB
        </h1>
        <p class="story text-center h6 fw-light" style="color: bisque">
          Learing about web developing it's something new for me. As someone who
          graduate from pilot school, Tech World it's so challenging for me. I
          want to improve my Tech skill spescially on coding. Welcome to my
          first project in Tech World.
        </p>
        <button
          class="icon1 text-center bg-primary border-0 rounded p-2"
          style="
            background-color: #e5b579 !important;
            margin: 20px auto;
            font-size: 20px;
            cursor: pointer;
          "
        >
          <a
            href="./backpageBootstrap"
            class="text-decoration-none"
            style="color: #7b3535"
            >Contact Me</a
          >
        </button>
        <h2 class="icon2 text-center">
          <a
            class="text-decoration-none"
            style="color: bisque !important"
            href="https://drive.google.com/file/d/1X1jcAa-U3SX_xE2vNoaqHs58WCoMgZWT/view?usp=sharing"
            target="_blank"
            >Download CV <i class="fa-solid fa-download"></i
          ></a>
        </h2>
        <p class="socialmedia text-center">
          <a
            class="text-decoration-none fs-1"
            style="color: bisque !important"
            href="https://linktr.ee/rfmuharram"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-facebook"></i
          ></a>
        </p>
      </div>
      <div
        class="card w-50 d-flex flex-column justify-content-evenly mx-5 my-5"
        style="
          background-color: #e5b579;
          border: none;
          border-radius: 25px;
          box-shadow: 2px 2px 20px black;
        "
        id="content-left"
      >
        <img
          src="../assets/img/profile.jpeg"
          class="w-100 mx-auto"
          alt="ini foto"
          style="border-top-left-radius: 25px; border-top-right-radius: 25px"
        />
        <div class="card-body">
          <h5
            class="text-center h4 fw-bold"
            style="font-family: copperplate; color: #7b3535"
          >
            RIZKY FAJAR MUHARRAM
          </h5>
          <p class="text-center fw-bold" style="color: #7b3535">full stack</p>
        </div>
      </div>
    </div>
    <!-- CARD -->
    <hr class="line" />
    <!-- PROJECT'S -->
     <div class="header w-100 mt-5 mb-5">
      <h1
        class="title text-center "
        style="color: bisque; font-family: copperplate; letter-spacing: 15px;"
      >PROJECTS</h1>
     </div>
     <div
      class="d-flex justify-content-evenly flex-column w-100 mx-auto my-5"
      id="wrapper"
     > 
     <div id="div-3">
        {{#each data}}
        <div
        class="card d-flex flex-row my-5 mx-auto w-75 border-0"
        style="
          background-color: #7b3535;
          border-radius: 10px;
          box-shadow: 2px 2px 20px black;
        "
        id="div-3"
       >
        <img
          src="{{image}}"
          class="card-img-top w-50"
          alt="content photo"
          style="border-top-left-radius: 10px; border-top-right-radius: 0px; border-bottom-left-radius: 10px"
          id="photo_content"
        />
        <div class="card-body">
          <a href="/project/{{id}}" class="card-title text-center h3 fw-bold"
            style="color: bisque; font-family: copperplate;"> 
          {{tittle}}
         </a>
          <p class="card-text text-center h6 fw-light" style="color: #AAB1B6">
            <h5>{{data.createdAt}}</h5>
          </p>
          <p class="card-text text-justify" style="color: bisque">
          {{content}}
          </p>
          <div class="w-100 d-flex justify-content-evenly">
            {{#if ../loggedIn}}
            <a
              href="/blog-Edit/{{id}}"
              class="btn btn-primary mx-2 w-100 border-0"
              style="background-color: #8d6e63; color: bisque"
              id="btn-edit"
              >Edit</a>
            <form method="post" action="/delete-post/{{id}}" class="w-100">
            <button class="btn btn-warning w-100"
              style="color: #7b3535"
              id="btn-delete">
              Delete</button>
            </form>
           {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
      </div>
      {{#if loggedIn}}
      <div class="d-flex justify-content-center w-100 mx-auto"> 
      <a href="./addProjectBootstrap"
              class="btn btn-success"
              style="color: bisque; font-family: copperplate;">Add New Project</a>
    </div>
    {{/if}}
    </div>
    <!-- PROJECT'S -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
